/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body{
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.input-container{
    display: flex;
    gap: 10px;
}

/* Heading */
h1{
    color: #333;
    margin-bottom: 20px;
}
 
.info{
    background: #fff3cd;
    color: #856404;
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 14px;
    border-left: 4px solid #ffc107;
} 
/* .info{
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
} */

/* Input */
#todo-input{
    width: 300px;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

#todo-input:focus{
    border-color: #4CAF50;
}

/* Add Button */
#add-btn{
    padding: 12px 18px;
    margin-left: 8px;
    border: none;
    border-radius: 8px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#add-btn:hover{
    background: #45a049;
}

/* Todo List */
#todo-list{
    list-style: none;
    margin-top: 25px;
    width: 400px;
}

/* Each Todo */
#todo-list li{
    background: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* Todo Text */
#todo-list span{
    flex: 1;
    margin-left: 10px;
}

/* Delete Button */
#todo-list button{
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

#todo-list button:hover{
    background: #e63939;
}